
/*<-------------   Main Style  -------------------->*/

* {
  font-family: Arial, sans-serif;
}

#wrapper {
  display: block;
}

#wrapper > * {
  margin: .3%;
}

#top-nav {
  background-color: #FFB4B0;
  border: 2px solid black;
  flex-grow: 1;
}

#top-nav ul {
  justify-content: flex-start;
}

#top-nav ul li {
  display: inline-flex;
  margin: 0% .5% 0% .5%;
  text-decoration: none;
  color: black;
  list-style: none;
}

.content {
  display: inline-flex;
  flex-grow: 1;
  margin: 0px;
}

.content > * {
  margin: 1%;
}

.filter {
  background-color: #4DD7FA;
  border: 2px solid black;
  width: 20%;
  margin: 0px 1% 0px 0px;
  padding: 2%;
  text-align: left;
}

.filter > * {
  display: inline-block;
  padding: 5%;
  align-items: center;
}

#genre-box {
  margin: 5px 0;
  padding: 0;

  list-style: none;
  align-items: flex-start;
  display: block;

}

#genre-box span {
  margin: .5%;
  display: block;
}

#genre-box span > label {

}

.filter > button {
  width: 100%;
  height: 7%;
  border-radius: 7px;
  background-color: white;
  padding: 0;
  margin: 5% 0;
  text-align: center;
}

#songs {
  background-color: #FEFAC0;
  border: 2px solid black;
  text-align: left;
  width: 70%;
  margin: 0px;
  padding: 4% 2% 5% 4%;
}

#songs > p {
  display: inline;
  padding: 0 4% 0 4%;
}

h2 {
  margin: 2% 0 3%;
}


/*<------------  Add Music Page  -------------------->*/



#entry-field {
  display: flex;
  flex-flow: column;
  padding: 5% 10% 1%;
}

.search-box {
  padding: 1% 23%;
  margin: .5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search-box > input {
  border: 2px solid black;
  width: 23em;
  height: 1.5em;
}

#add-sect {
  text-align: center;
}

#add-music {
  height: 2%;
  width: 13%;
  padding: .4%;
  font-size: 1em;
  border: 2px solid black;
  border-radius: 5px;
  background-color: lightgrey ;
}


/*<------------   Media Queries  -------------------->*/

/*@media all and (min-width: 845px) {

}

@media all and (min-width: 1209px) {

}*/
