
/*<-------------   Main Style  -------------------->*/

* {
  font-family: Arial, sans-serif;
}

.container {
    margin: auto;
}

.navbar {
    padding: 2%;
    background-color: #FFB4B0;
}


.content > * {
  margin: 1%;
}

.filter {
  background-color: #4DD7FA;
  border: 1px solid darkblue;
  padding: 2%;

}

.filter > * {
  display: inline-block;
  padding: 5%;

}



#genre-box {

}

#genre-box span {

}



.filter > button {
  width: 100%;
  height: 7%;
  border-radius: 7px;
  background-color: white;
  padding: 0;
  margin: 5% 0;
  text-align: center;
}

#songs {
    background-color: #FEFAC0;
    border: 2px solid gold;
    text-align: left;
    padding: 4% 2% 5% 4%;

}

#songs > p {
  display: inline;
  padding: 0 4% 0 4%;
}

h2 {
  margin: 2% 0 3%;
}


/*<------------  Add Music Page  -------------------->*/



#entry-field {

}

.search-box {

}

.search-box > input {

}

#add-sect {
}

#add-music {

}
